APP_ENV=development

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5433/asset_price_alert
REDIS_URL=redis://localhost:6379/0

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60